<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Change Password</title>
</head>

<body>

    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div>
            <div>
                <div class="van-nav-bar van-nav-bar--fixed">
                    <a href="Security">
                        <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                    </a>
                    <div class="van-nav-bar__title van-ellipsis">Thay đổi mật khẩu đăng nhập</div>
                    <div class="van-nav-bar__right"></div>
                </div>
                <div class="bar-box"></div>
                <div class="top">
                    <div class="top-title">Thay đổi mật khẩu đăng nhập</div>
                </div>
                <div class="van-cell-group van-hairline--top-bottom" style="margin: 0px 24px 20px;">
                    <div class="van-cell van-field" style="font-size: 14px;">
                        <div class="van-field__left-icon"><i class="van-icon van-icon-lock"><!----></i></div>
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body">
                                <input type="password" placeholder="Vui lòng nhập mật khẩu đăng nhập." class="van-field__control van-field__control1">
                            </div>
                        </div>
                    </div>
                    <div class="van-cell van-field" style="font-size: 14px;">
                        <div class="van-field__left-icon"><i class="van-icon van-icon-lock"><!----></i></div>
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body">
                                <input type="password" placeholder="Vui lòng nhập mật khẩu mới." class="van-field__control van-field__control2">
                            </div>
                        </div>
                    </div>
                    <div class="van-cell van-field" style="font-size: 14px;">
                        <div class="van-field__left-icon"><i class="van-icon van-icon-lock"><!----></i></div>
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body">
                                <input type="password" placeholder="Vui lòng xác nhận mật khẩu." class="van-field__control van-field__control3">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 0px 24px 10px;">
                    <button class="van-button van-button--default van-button--large" style="background-color: rgb(0, 184, 169); border-radius: 5px; color: rgb(255, 255, 255);">
                    <div class="van-button__content">
                        <span class="van-button__text">Gửi</span>
                    </div>
                </button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .display-none {
            display: none;
        }
    </style>
    <div class="van-toast van-toast--middle van-toast--text display-none" style="z-index: 2001;">
        <div class="van-toast__text"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('.van-button--large').click(function() {
            var get_input1 = $('.van-field__control1').val().trim();
            var get_input2 = $('.van-field__control2').val().trim();
            var get_input3 = $('.van-field__control3').val().trim();
            if (get_input1 != "" && get_input2 != "" && get_input3 != "" && get_input2 == get_input3) {
                $.ajax({
                    type: "POST",
                    url: "/member/ChangePassword",
                    data: {
                        get_input1: get_input1,
                        get_input2: get_input2,
                    },
                    dataType: "json",
                    success: function(response) {
                        if (response.message == 1) {
                            $('.van-toast--text').removeClass('display-none');
                            $('.van-toast--text .van-toast__text').html('Đổi mật khẩu thành công.');
                            setTimeout(function() {
                                $('.van-toast--text').addClass('display-none');
                                window.location = "/member/index";
                            }, 1200)
                        } else if (response.message == 0) {
                            $('.van-toast--text').removeClass('display-none');
                            $('.van-toast--text .van-toast__text').html('Mật khẩu đăng nhập sai.');
                            setTimeout(function() {
                                $('.van-toast--text').addClass('display-none')
                            }, 1000)
                        }
                    }
                })
            } else if (get_input1 == "" || get_input2 == "" || get_input3 == "") {
                $('.van-toast--text').removeClass('display-none');
                $('.van-toast--text .van-toast__text').text('Mật khẩu không được để trống.');
                setTimeout(function() {
                    $('.van-toast--text').addClass('display-none')
                }, 1000)
            } else if (get_input2 != get_input3) {
                $('.van-toast--text').removeClass('display-none');
                $('.van-toast--text .van-toast__text').text('Mật khẩu mới không trùng khớp.');
                setTimeout(function() {
                    $('.van-toast--text').addClass('display-none')
                }, 1000)
            }
        })
    </script>
</body>

</html>