<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Account security</title>
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/pages__myTask.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-1759c0cf="" class="security-content">
            <div data-v-1759c0cf="" class="van-nav-bar van-nav-bar--fixed">
                <a href="index">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">Bảo mật tài khoản</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div data-v-1759c0cf="" class="bar-box"></div>
            <div data-v-1759c0cf="">
                <div data-v-1759c0cf="" class="top">
                    <div data-v-1759c0cf="" class="top-title">
                        Bảo mật tài khoản
                    </div>
                </div>
                <section data-v-1759c0cf="" class="security-main">
                    <div data-v-1759c0cf="" class="security-main__more van-cell-group van-hairline--top-bottom">
                        <div data-v-1759c0cf="" role="button" tabindex="0" class="van-cell van-cell--clickable nikname">
                            <div data-v-1759c0cf="" class="van-cell__title"><span data-v-1759c0cf="">Thay đổi tên</span></div><i data-v-1759c0cf="" class="van-icon van-icon-arrow van-cell__right-icon"><!----></i></div>
                        <div data-v-1759c0cf="" role="button" tabindex="0" class="van-cell van-cell--clickable changePassword">
                            <div data-v-1759c0cf="" class="van-cell__title"><span data-v-1759c0cf="">Thay đổi mật khẩu đăng nhập</span></div><i data-v-1759c0cf="" class="van-icon van-icon-arrow van-cell__right-icon"><!----></i></div>
                        <a href="ChangePaymentPassword">
                            <div data-v-1759c0cf="" role="button" tabindex="0" class="van-cell van-cell--clickable">
                                <div data-v-1759c0cf="" class="van-cell__title"><span data-v-1759c0cf="">Thay đổi mật khẩu thanh toán</span></div><i data-v-1759c0cf="" class="van-icon van-icon-arrow van-cell__right-icon"><!----></i></div>
                        </a>
                        <!---->
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $('.nikname').click(function() {
            window.location = 'nikname';
        });
        $('.changePassword').click(function() {
            window.location = 'ChangePassword';
        });
    </script>
</body>

</html>