<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <title>Complaints&amp;Suggestions</title>
    <style>
        .display-none {
            display: none!important;
        }
        
        .hide_list_btn {
            transform: translate3d(0px, 100%, 0px);
        }
    </style>
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__complaint.css">
</head>

<body>
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-2f5c183d="">
            <div data-v-2f5c183d="" class="van-nav-bar">
                <a onclick="history.back()">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">Khiếu nại &amp; Gợi ý</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div data-v-2f5c183d="">
                <div data-v-2f5c183d="">
                    <div data-v-2f5c183d="" class="top">
                        <div data-v-2f5c183d="" class="top-title">Thêm mới</div>
                    </div>
                    <div data-v-2f5c183d="" class="message">
                        <div data-v-2f5c183d="" class="message-main van-cell-group van-hairline--top-bottom">
                            <div data-v-2f5c183d="" role="button" tabindex="0" class="van-cell van-cell--clickable">
                                <div data-v-2f5c183d="" class="van-cell__title">
                                    <span data-v-2f5c183d="" style="position: absolute; left: 8px; color: rgb(238, 10, 36);">*</span>
                                    <span data-v-2f5c183d="" class="custom-title">Loại</span></div>
                                <div data-v-2f5c183d="" class="van-cell__value text-value_select">
                                    <span data-v-2f5c183d=""></span>
                                </div>
                                <i data-v-2f5c183d="" class="van-icon van-icon-arrow van-cell__right-icon">
                                    <!---->
                                </i>
                            </div>
                            <div data-v-2f5c183d="" class="van-cell van-field">
                                <span data-v-2f5c183d="" style="position: absolute; left: 8px; color: rgb(238, 10, 36);">*</span>
                                <div class="van-cell__title van-field__label">
                                    <span>Tài khoản</span>
                                </div>
                                <div class="van-cell__value van-field__value">
                                    <div class="van-field__body">
                                        <input type="text" placeholder="Tài khoản gặp sự cố" disabled value="<%=token.user.id_user%>" class="van-field__control van-field__control--right">
                                    </div>
                                </div>
                            </div>
                            <div data-v-2f5c183d="" class="van-cell van-cell--required van-field van-field--min-height">
                                <div class="van-cell__title van-field__label">
                                    <span>Miêu tả</span>
                                </div>
                                <div class="van-cell__value van-field__value">
                                    <div class="van-field__body">
                                        <textarea rows="7" length="0" maxlength="500" placeholder="Mô tả vấn đề của bạn" class="van-field__control van-field__control--right"></textarea>
                                    </div>
                                    <div class="van-field__word-limit">
                                        <span class="van-field__word-num">0</span>/500
                                    </div>
                                </div>
                            </div>
                            <div data-v-2f5c183d="" class="van-cell van-cell--required van-field">
                                <div class="van-cell__title van-field__label"><span>Telegram</span></div>
                                <div class="van-cell__value van-field__value">
                                    <div class="van-field__body">
                                        <input type="text" placeholder="Liên hệ với bạn qua Telegram" class="van-field__control van-field__control--right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="van-overlay display-none" style="z-index: 2001;opacity: 0;"></div>
                    <div data-v-2f5c183d="" class="hide_list_btn van-popup van-popup--round van-popup--bottom van-popup--safe-area-inset-bottom van-action-sheet" style="z-index: 2002;">
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">Suggestion</span>
                        </button>
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">Consult</span>
                        </button>
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">Recharge Problem</span>
                        </button>
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">Withdraw Problem</span>
                        </button>
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">Parity Problem</span>
                        </button>
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">RedEnvelope Problem</span>
                        </button>
                        <button data-v-2f5c183d="" type="button" class="van-action-sheet__item">
                            <span data-v-2f5c183d="" class="van-action-sheet__name">Other</span>
                        </button>
                    </div>
                    <!---->
                    <div data-v-2f5c183d="" style="padding: 0px 15px;">
                        <button data-v-2f5c183d="" class="van-button van-button--default van-button--large" style="background-color: rgb(0, 184, 169); color: rgb(255, 255, 255); border-radius: 5px;">
                            <div data-v-2f5c183d="" class="van-button__content">
                                <span data-v-2f5c183d="" class="van-button__text">Trả lời</span>
                            </div>
                        </button>
                    </div>
                    <div data-v-2f5c183d="" class="message">
                        <div data-v-2f5c183d="" class="message-main van-cell-group van-hairline--top-bottom">
                            <div data-v-2f5c183d="" class="van-cell">
                                <div data-v-2f5c183d="" class="van-cell__title">
                                    <div data-v-2f5c183d="" class="serviceTime">
                                        <div data-v-2f5c183d="" class="left">Thời gian phục vụ:</div>
                                        <div data-v-2f5c183d="" class="right">
                                            10:00-17:00, thứ hai - thứ sáu<br data-v-2f5c183d=""> khoảng 1-5 ngày làm việc.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <div class="van-toast van-toast--middle van-toast--fail display-none" style="z-index: 2010;white-space: unset;">
        <i class="van-icon van-icon-fail van-toast__icon">
            <!---->
        </i>
        <div class="van-toast__text"></div>
    </div>
    <div class="van-toast van-toast--middle van-toast--success display-none" style="z-index: 2006;">
        <i class="van-icon van-icon-success van-toast__icon"><!----></i>
        <div class="van-toast__text">Gửi thành công</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(window).on('load', function() {
            $(document).ready(function() {
                $('.van-cell--clickable').click(function() {
                    $('.van-overlay').removeClass('display-none');
                    $('.van-overlay').animate({
                        opacity: '1'
                    }, 400);
                    $('.van-popup--round').removeClass('hide_list_btn');
                });
                $('.van-overlay, .van-action-sheet__item').click(function() {
                    $('.van-overlay').animate({
                        opacity: '0'
                    }, 400);
                    setTimeout(() => {
                        $('.van-overlay').addClass('display-none');
                    }, 400);
                    $('.van-popup--round').addClass('hide_list_btn');
                });
                $('.van-action-sheet__item').click(function() {
                    var alers = $(this).text().trim();
                    $('.text-value_select span').text(alers);
                });
            });
        });
        $(document).ready(function() {
            var $txtArea = $('textarea');
            var $chars = $('.van-field__word-num');
            var textMin = $txtArea.attr('length');
            $chars.html(textMin);
            $txtArea.on('keydown', countChar);

            function countChar() {
                var textLength = $txtArea.val().length;
                var textRemaining = textLength;
                $chars.html(textRemaining);
            };
        });
        $(document).ready(function() {
            const weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            const d = new Date();
            let h = d.getHours();
            let day = weekday[d.getDay()];
            $('.van-button--default').click(function() {
                var type_text = $('.text-value_select span').text();
                var textarea_text = $('textarea').val();
                var tele_text = $('input:eq(1)').val();
                if (d.getDay() == 0 || d.getDay() == 6 || h < 10 || h >= 17) {
                    $('.van-toast--fail .van-toast__text').text('Ngoài thời gian phục vụ!');
                    $('.van-toast--fail').removeClass('display-none');
                    setTimeout(() => {
                        $('.van-toast--fail').addClass('display-none');
                    }, 1000);
                } else if (type_text == "") {
                    $('.van-toast--fail .van-toast__text').text('Vui lòng chọn loại');
                    $('.van-toast--fail').removeClass('display-none');
                    setTimeout(() => {
                        $('.van-toast--fail').addClass('display-none');
                    }, 1000);
                } else if (textarea_text == "") {
                    $('.van-toast--fail .van-toast__text').text('Vui lòng nhập mô tả');
                    $('.van-toast--fail').removeClass('display-none');
                    setTimeout(() => {
                        $('.van-toast--fail').addClass('display-none');
                    }, 1000);
                } else if (tele_text == "") {
                    $('.van-toast--fail .van-toast__text').text('Vui lòng nhập Telegram');
                    $('.van-toast--fail').removeClass('display-none');
                    setTimeout(() => {
                        $('.van-toast--fail').addClass('display-none');
                    }, 1000);
                } else {
                    $('.van-toast--success').removeClass('display-none');
                    setTimeout(() => {
                        $('.van-toast--success').addClass('display-none');
                        history.back();
                    }, 1000);
                }
            });
        });
    </script>
</body>

</html>