<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Complaints&Suggestions</title>
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__complaint.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <style>
        .top-selete[data-v-6b811b1c] {
            display: flex;
            margin: 30px 10px 0;
            border: 1px solid #00b8a9;
            border-radius: 5px;
            line-height: 35px;
        }
        
        .top-selete-sub[data-v-6b811b1c] {
            flex: 1;
            text-align: center;
            font-size: 14px;
        }
        
        .top-selete-sub.active[data-v-6b811b1c] {
            font-size: 14px;
            color: #fff;
            background-color: #00b8a9;
        }
        
        .right[data-v-6b811b1c] {
            text-align: right;
        }
        
        .right button[data-v-6b811b1c] {
            background-color: #fff;
            color: #00b8a9;
            border: none;
            text-decoration: underline;
            padding: 4px;
            font-size: 14px;
            margin-right: 6px;
        }
    </style>
</head>

<body>
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-6b811b1c="">
            <div data-v-6b811b1c="" class="van-nav-bar">
                <a href="/member/index">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">Khiếu nại &amp; Gợi ý</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div data-v-6b811b1c="" class="order-outer-content">
                <div data-v-6b811b1c="" class="top-selete">
                    <div data-v-6b811b1c="" class="top-selete-sub">Đã trả lời</div>
                    <div data-v-6b811b1c="" class="top-selete-sub active">Đang chờ</div>
                </div>
                <div data-v-6b811b1c="" class="right">
                    <button data-v-6b811b1c="">Thêm mới&nbsp;&nbsp;&gt;</button>
                </div>
                <div data-v-6b811b1c="" role="feed" class="van-list" style="display: none;">
                    <div data-v-6b811b1c="" class="main-products">
                        <div data-v-6b811b1c="" class="reservation-booking">
                            <div data-v-6b811b1c="" style="margin-top: 10px;">
                                <div data-v-6b811b1c="" class="booking-title">
                                    <div data-v-6b811b1c=""> No.<span data-v-6b811b1c="">B7NKREIG7UV44374</span></div>
                                    <div data-v-6b811b1c="" class="booking-title-no">28 Dec 2021, 08:49:44 pm</div>
                                </div>
                            </div>
                            <div data-v-6b811b1c="" class="van-cell-group van-hairline--top-bottom">
                                <div data-v-6b811b1c="" class="van-cell"></div>
                                <div data-v-6b811b1c="" class="van-cell">
                                    <div data-v-6b811b1c="" class="van-cell__title bold">
                                        <span data-v-6b811b1c="">Số đơn được liên kết</span>
                                    </div>
                                    <div data-v-6b811b1c="" class="van-cell__value">
                                        <span data-v-6b811b1c="">H7284908AJ4TDKIXTVY8</span>
                                    </div>
                                </div>
                                <div data-v-6b811b1c="" class="van-cell">
                                    <div data-v-6b811b1c="" class="van-cell__title bold">
                                        <span data-v-6b811b1c="">Loại</span>
                                    </div>
                                    <div data-v-6b811b1c="" class="van-cell__value">
                                        <span data-v-6b811b1c="">Withdraw Problem</span>
                                    </div>
                                </div>
                                <div data-v-6b811b1c="" class="van-cell">
                                    <div data-v-6b811b1c="" class="van-cell__title bold">
                                        <span data-v-6b811b1c="">trạng thái</span>
                                    </div>
                                    <div data-v-6b811b1c="" class="van-cell__value">
                                        <span data-v-6b811b1c="">Đã trả lời</span>
                                    </div>
                                </div>
                                <div data-v-6b811b1c="" class="van-cell">
                                    <div data-v-6b811b1c="" class="van-cell__title bold">
                                        <span data-v-6b811b1c="">Option</span>
                                    </div>
                                    <div data-v-6b811b1c="" class="van-cell__value">
                                        <button data-v-6b811b1c="" class="van-button van-button--default van-button--small">
                                            <div data-v-6b811b1c="" class="van-button__content">
                                                <span data-v-6b811b1c="" class="van-button__text">Gửi đi&nbsp;&nbsp;&gt;</span>
                                            </div>
                                        </button>
                                        <button data-v-6b811b1c="" class="van-button van-button--default van-button--small">
                                            <div data-v-6b811b1c="" class="van-button__content">
                                                <span data-v-6b811b1c="" class="van-button__text">chi tiết &nbsp;&nbsp;&gt;</span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="van-list__placeholder"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $('.top-selete-sub').click(function() {
            $('.top-selete-sub').removeClass('active');
            $(this).addClass('active');
        });
        $('button').click(function() {
            window.location = "help";
        });
    </script>
</body>

</html>