<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <%- include('../apple.ejs') %>
    <title>Search</title>
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/pages__home.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__product.css">
    <style>
        [v-cloak] {
            display: none;
        }
        
        .van-tab--active {
            border-bottom: 3px solid rgb(0, 184, 169);
            font-weight: 600;
        }
        
        .block_click {
            cursor: wait;
            pointer-events: none;
        }
        
        .closer {
            display: none;
        }
        .display-none{
            display: none;
        }
    </style>
</head>

<body>
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-4184f752="">
            <div data-v-4184f752="" class="top-search">
                <form data-v-4184f752="" action="/">
                    <div data-v-4184f752="" class="van-search van-search--show-action">
                        <div data-v-4184f752="" class="van-search__content van-search__content--square">
                            <div data-v-4184f752="" class="van-cell van-cell--borderless van-field">
                                <div class="van-field__left-icon">
                                    <i class="van-icon van-icon-search"><!----></i>
                                </div>
                                <div class="van-cell__value van-cell__value--alone van-field__value">
                                    <div class="van-field__body">
                                        <input type="search" placeholder="tìm kiếm hàng " class="van-field__control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-4184f752="" role="button" tabindex="0" class="van-search__action">Huỷ bỏ</div>
                    </div>
                </form>
            </div>
            <div data-v-4184f752="" class="van-tabs van-tabs--line">
                <div class="van-tabs__wrap van-tabs__wrap--scrollable">
                    <div role="tablist" class="van-tabs__nav van-tabs__nav--line van-tabs__nav--complete" style="border-color: rgb(0, 184, 169);">
                        <div role="tab" class="van-tab van-tab--active" aria-selected="true"><span class="van-tab__text">Tất cả</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">shoes</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">bags</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Clothing</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">machine</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Computer hardware</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Memory card</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> headset   </span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Charging treasure  </span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">stents</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">headset</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> Kitchen supplies</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> cosmetic</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Data cable</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Food</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> household products</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> Small appliances</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> wallet</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> Daily necessities</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text">Cloth</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> electronic product</span></div>
                        <div role="tab" class="van-tab"><span class="van-tab__text"> baby product</span></div>
                        <!-- <div class="van-tabs__line" style="background-color: rgb(0, 184, 169); transform: translateX(39.5px) translateX(-50%); transition-duration: 0.3s;"></div> -->
                    </div>
                </div>

            </div>
        </div>
        <div class="van-tabs__content">
        </div>
    </div>
    <div class="load_container">
        <div data-v-4184f752="" role="feed" class="van-list">
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373024990740945188690759.jpg"></div>
                    <div class="item-info">
                        <div class="title">DOCTOR EXTRA SOFT Doctor Ortho Slippers for Women.</div>
                        <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840513239092748363535.jpg"></div>
                    <div class="item-info">
                        <div class="title">Power \ Draven Running Shoes</div>
                        <div class="money"><em>₫</em> <b>&nbsp;691.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840528921978763889894.jpg"></div>
                    <div class="item-info">
                        <div class="title">Converse Unisex Canvas Sneakers_RED_11 UK / 12 US(150770C)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;297.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840651934415033262222.jpg"></div>
                    <div class="item-info">
                        <div class="title">Bourge \ Loire-62 Running Shoes</div>
                        <div class="money"><em>₫</em> <b>&nbsp;733.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840658388240297748772.jpg"></div>
                    <div class="item-info">
                        <div class="title">Bersache \ Running Shoes</div>
                        <div class="money"><em>₫</em> <b>&nbsp;621.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840669708177144342736.jpg"></div>
                    <div class="item-info">
                        <div class="title">HEEDERIN \ Comfortable Mesh Lace up Sport's/Running/Walking/Gym/Jogging/Unisex Shoe</div>
                        <div class="money"><em>₫</em> <b>&nbsp;776.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840675592126612811715.jpg"></div>
                    <div class="item-info">
                        <div class="title">Ethics \ Ultra Lite Mesh (Black/Red) Casual Sports Shoes for \</div>
                        <div class="money"><em>₫</em> <b>&nbsp;756.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840844627585745011534.jpg"></div>
                    <div class="item-info">
                        <div class="title">Dhruvi Wo\ Maxi Dress</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.650.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840880965432751880115.jpg"></div>
                    <div class="item-info">
                        <div class="title">ANNI DESIGNER Raniyal Georgette Saree with Blouse Piece (Black Gerog_Black_Free Size)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.720.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840829037839047357128.jpg"></div>
                    <div class="item-info">
                        <div class="title">Amayra Wo\ Cotton Readymade Salwar Suit</div>
                        <div class="money"><em>₫</em> <b>&nbsp;570.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840822409504303060107.jpg"></div>
                    <div class="item-info">
                        <div class="title">NENA FASHION Wo\ net Lehenga Choli (yami pinkblack_ Black_ X-Large)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.097.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840834972659815896486.jpg"></div>
                    <div class="item-info">
                        <div class="title">PERFECTBLUE Wo\ Blend Linen Saree with Unstitched Blouse Piece (DigitalPrintVariation)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.732.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840681331996044496725.jpg"></div>
                    <div class="item-info">
                        <div class="title">Power \ Keith Running Shoes</div>
                        <div class="money"><em>₫</em> <b>&nbsp;715.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840689877391329911310.jpg"></div>
                    <div class="item-info">
                        <div class="title">Sparx \ Sm-323 Dip Canvas Shoes - Black</div>
                        <div class="money"><em>₫</em> <b>&nbsp;527.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840702089354857318305.jpg"></div>
                    <div class="item-info">
                        <div class="title">layasa \ Air Series Mesh Sports Running Shoes</div>
                        <div class="money"><em>₫</em> <b>&nbsp;752.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840729105311208053605.jpg"></div>
                    <div class="item-info">
                        <div class="title">Inklenzo \ Mesh Quality Black LT Running Sports Walking Casual Sneakers Shoes Size 6,7,8,9,10</div>
                        <div class="money"><em>₫</em> <b>&nbsp;623.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840737212899064166749.jpg"></div>
                    <div class="item-info">
                        <div class="title">Fabricorn Wo\ T-Shirt</div>
                        <div class="money"><em>₫</em> <b>&nbsp;361.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840745154247206156803.jpg"></div>
                    <div class="item-info">
                        <div class="title">Blacked Wo\ T-Shirt</div>
                        <div class="money"><em>₫</em> <b>&nbsp;352.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840774443810711986563.jpg"></div>
                    <div class="item-info">
                        <div class="title">Cottonwalas Wo\ Rayon Anarkali Kurta</div>
                        <div class="money"><em>₫</em> <b>&nbsp;508.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840886011050159921534.jpg"></div>
                    <div class="item-info">
                        <div class="title">Plush Womens Cotton Regular fit Printed Long Tshirt/Tshirts (PT-001)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;380.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840891282757728254890.jpg"></div>
                    <div class="item-info">
                        <div class="title">American Tourister 32 Ltrs Red Casual Backpack (AMT Fizz SCH Bag 03 - RED)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;390.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840908519760684026195.jpg"></div>
                    <div class="item-info">
                        <div class="title">Mammon Wo\ Stylish Handbags Combo (4L-bib-Bpink)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.000.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840926320027386007098.jpg"></div>
                    <div class="item-info">
                        <div class="title">Safari Polyester 79 cms Red Softsided Check-in Luggage (PRISMA754WRED)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;840.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840934412970851765394.jpg"></div>
                    <div class="item-info">
                        <div class="title">Mammon Wo\ Stylish Handbags Combo (3LR-bib-Grey)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;990.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372840941101357288071632.jpg"></div>
                    <div class="item-info">
                        <div class="title">Bizarre Vogue Cute Small Cat Style Backpack for Girls (Cream,BV1204)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990854674779412088596.jpg"></div>
                    <div class="item-info">
                        <div class="title">TP-Link TL-WR841N 300Mbps Wireless N Cable, 4 Fast LAN Ports, Easy Setup, WPS Button, </div>
                        <div class="money"><em>₫</em> <b>&nbsp;350.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990563274146304906831.jpg"></div>
                    <div class="item-info">
                        <div class="title">BoAt BassHeads in-ear headphones cable</div>
                        <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990790384039026565367.jpg"></div>
                    <div class="item-info">
                        <div class="title">Keyboard mouse suit</div>
                        <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990895675536879826676.jpg"></div>
                    <div class="item-info">
                        <div class="title">The wireless receiver</div>
                        <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="https://img.yesclub.in/upload/public/image/20200710/6373001286261780893199149.jpg"></div>
                    <div class="item-info">
                        <div class="title">Sandisk U1 A1 98Mbps 16GB Ultra MicroSDHC (MicroSD) Memory Card</div>
                        <div class="money"><em>₫</em> <b>&nbsp;190.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990741392651026790573.jpg"></div>
                    <div class="item-info">
                        <div class="title">LV 4mm Thickness Aluminum mobile Stand</div>
                        <div class="money"><em>₫</em> <b>&nbsp;75.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373023579634800004416061.jpg"></div>
                    <div class="item-info">
                        <div class="title">Xs and Os Wo\ Lace Garter Belt and Sheer Stockings Lingerie Set with panty</div>
                        <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373024971195611367874834.jpg"></div>
                    <div class="item-info">
                        <div class="title">Lakme Eyeconic Kajal Twin Pack, Black, 0.35g with 0.35g</div>
                        <div class="money"><em>₫</em> <b>&nbsp;250.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373024943516052374581927.jpg"></div>
                    <div class="item-info">
                        <div class="title">Pigeon by Stovekraft New Handy Mini Plastic Chopper with 3 Blades</div>
                        <div class="money"><em>₫</em> <b>&nbsp;50.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373025073878978534386711.jpg"></div>
                    <div class="item-info">
                        <div class="title">AmazonBasics Micro USB Charging Cable for Android Phones with Gold Plated Connectors</div>
                        <div class="money"><em>₫</em> <b>&nbsp;100.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373040865080130552350356.jpg"></div>
                    <div class="item-info">
                        <div class="title">Home Utsav Sheer Strip Tissue Net 1 Piece Polyester Transparent Curtains for Window 5 Feet</div>
                        <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373040979584948749360698.jpg"></div>
                    <div class="item-info">
                        <div class="title">Foolzy Brush Book ! Makeup Brush Collection (24 Pcs Gold)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;841.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373109758009410572060650.jpg"></div>
                    <div class="item-info">
                        <div class="title">Himalaya Herbals Baby Powder</div>
                        <div class="money"><em>₫</em> <b>&nbsp;173.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373041088915918841678950.jpg"></div>
                    <div class="item-info">
                        <div class="title">Prestige Electric Kettle PKOSS - 1500watts, Steel (1.5Ltr), Black</div>
                        <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373041253509890677085921.jpg"></div>
                    <div class="item-info">
                        <div class="title">Fur Jaden 15.6 Inch Laptop Backpack 25 LTR Bag for School, College and Office with USB Charging Port</div>
                        <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373041301585536567852330.jpg"></div>
                    <div class="item-info">
                        <div class="title">AmazonBasics Umbrella (Auto-Open &amp; Close Function) - Black</div>
                        <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373076817595422848294461.jpg"></div>
                    <div class="item-info">
                        <div class="title">SOFTSPUN Microfiber Cloth - 5 pcs - 40x40 cms - 340 GSM Multi-Color</div>
                        <div class="money"><em>₫</em> <b>&nbsp;80.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373077166559219701765629.jpg"></div>
                    <div class="item-info">
                        <div class="title">Lenovo 300 Wired USB Mouse, GX30M39704</div>
                        <div class="money"><em>₫</em> <b>&nbsp;123.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373077383851567914799277.jpg"></div>
                    <div class="item-info">
                        <div class="title">Xmate Zorro Pro 3200DPI, Rechargeable 2.4Ghz Wireless Gaming Mouse with USB Receiver</div>
                        <div class="money"><em>₫</em> <b>&nbsp;193.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373077506601009764944263.jpg"></div>
                    <div class="item-info">
                        <div class="title">Supples Baby Pants Diapers, Medium</div>
                        <div class="money"><em>₫</em> <b>&nbsp;495.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373077610188537414818901.jpg"></div>
                    <div class="item-info">
                        <div class="title">MamyPoko Pants Standard Diapers, Small</div>
                        <div class="money"><em>₫</em> <b>&nbsp;445.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373085549043438635867708.jpg"></div>
                    <div class="item-info">
                        <div class="title">Supples Baby Wet Wipes with Aloe Vera and Vitamin E - 72 Wipes/Pack</div>
                        <div class="money"><em>₫</em> <b>&nbsp;123.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373085769455013128576746.jpg"></div>
                    <div class="item-info">
                        <div class="title">AmazonBasics Nylon Braided USB A to Lightning Compatible Cable - Apple MFi Certified</div>
                        <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373025011537036092996129.jpg"></div>
                    <div class="item-info">
                        <div class="title">Jockey Wo\ Cotton Bikini Brief</div>
                        <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373025041024717254359838.jpg"></div>
                    <div class="item-info">
                        <div class="title">PARAGON SOLEA Wo\ Pink Sandals</div>
                        <div class="money"><em>₫</em> <b>&nbsp;222.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373040697996588925144289.jpg"></div>
                    <div class="item-info">
                        <div class="title">Scott International \ Regular Fit T-Shirt (Pack of 3)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;371.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373040921839947763117410.jpg"></div>
                    <div class="item-info">
                        <div class="title">Philips HP8100/46 Hair Dryer</div>
                        <div class="money"><em>₫</em> <b>&nbsp;742.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373040805354538342488181.jpg"></div>
                    <div class="item-info">
                        <div class="title">Rupa Jon \ Cotton Vest</div>
                        <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990924256113392490099.jpg"></div>
                    <div class="item-info">
                        <div class="title">Jockey \ Cotton Brief</div>
                        <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373040617461123587074104.jpg"></div>
                    <div class="item-info">
                        <div class="title">Maggi 2-Minute Noodles Masala, 70g (Pack of 12)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;297.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373023597426054766663354.jpg"></div>
                    <div class="item-info">
                        <div class="title">Xs and Os Women Babydoll Nightwear Lingerie Layered Open Front Design with Panty</div>
                        <div class="money"><em>₫</em> <b>&nbsp;495.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990590310948598023332.jpg"></div>
                    <div class="item-info">
                        <div class="title">Wireless headset boAt Rockerz 255 movement</div>
                        <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373025106581724745521537.jpg"></div>
                    <div class="item-info">
                        <div class="title">Puma Unisex's Altai Gu 2 Idp Royal Black Flip-Flops</div>
                        <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6372990671252083752464931.jpg"></div>
                    <div class="item-info">
                        <div class="title">Ambrane 10000mAh</div>
                        <div class="money"><em>₫</em> <b>&nbsp;742.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373109890812719085813158.jpg"></div>
                    <div class="item-info">
                        <div class="title">Redgear Pro Wireless Gamepad (Compatible with Windows 7/8/8.1/10 only)</div>
                        <div class="money"><em>₫</em> <b>&nbsp;942.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373109717043750089645427.jpg"></div>
                    <div class="item-info">
                        <div class="title">ASIAN Cosco Sports Running Shoes for Men</div>
                        <div class="money"><em>₫</em> <b>&nbsp;720.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373109550880329874521948.jpg"></div>
                    <div class="item-info">
                        <div class="title">Sparx \ Running Shoes</div>
                        <div class="money"><em>₫</em> <b>&nbsp;890.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373109931917013911318643.jpg"></div>
                    <div class="item-info">
                        <div class="title">WildHorn® RFID Protected Genuine High Quality Leather Wallet,Keychain &amp; Pen Combo for Men</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.732.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373111313261144961805046.jpg"></div>
                    <div class="item-info">
                        <div class="title">LIMESHOT® HP17 Wireless Bluetooth Earphone with Mic | Sports Headphone Headset Neckband </div>
                        <div class="money"><em>₫</em> <b>&nbsp;989.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img/6373110000941437668834657.jpg"></div>
                    <div class="item-info">
                        <div class="title">AELOMART \ Regular Fit T-Shirt</div>
                        <div class="money"><em>₫</em> <b>&nbsp;787.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div data-v-4184f752="" href="/product/index" class="product-box">
                <div class="product-box-item">
                    <div class="product-img"><img src="/img//6373041015674724391958379.jpg"></div>
                    <div class="item-info">
                        <div class="title">Urban Forest Oliver Mens Leather Wallet</div>
                        <div class="money"><em>₫</em> <b>&nbsp;1.485.000</b></div>
                        <!---->
                    </div>
                </div>
            </div>
            <div class="van-list__finished-text">Không còn dữ liệu</div>
            <div class="van-list__placeholder"></div>
        </div>

    </div>
    <div data-v-9241de2e="" class="site-tabbar">
        <div class="bottom-bar van-hairline--top-bottom van-tabbar van-tabbar--fixed">
            <div class="van-tabbar-item van-index-item1">
                <div class="van-tabbar-item__icon">
                    <img class="img1" src="/images/home.png">
                    <!---->
                </div>
                <div class="van-tabbar-item__text">
                    <span>Trang chủ</span>
                </div>
            </div>
            <div class="van-tabbar-item van-index-item2">
                <div class="van-tabbar-item__icon">
                    <img class="img2" src="/images/parity1.png">
                    <!---->
                </div>
                <div class="van-tabbar-item__text">
                    <span>Sale</span>
                </div>
            </div>
            <div class="van-tabbar-item van-index-item3">
                <div class="van-tabbar-item__icon">
                    <img class="img3" src="/images/ucenter1.png">
                    <!---->
                </div>
                <div class="van-tabbar-item__text">
                    <span>Của tôi</span>
                </div>
            </div>

            <div class="van-tabbar-item openchat">
                <div class="van-tabbar-item__icon">
                    <img class="img3" src="/images/chat.png">
                    <!---->
                </div>
                <div class="van-tabbar-item__text">
                    <span>Chat</span>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $("input[type=search]")
                .keypress(function(ev) {
                    if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
                        return false;
                    } else {
                        return true;
                    }
                });
        });
        $('.van-field__control').val("Tất cả");
        $(document).ready(
            $('.van-tab').click(function() {
                $('.van-tab').removeClass('van-tab--active block_click');
                $(this).addClass('van-tab--active block_click');
                var content_list = $(this).text();
                $('.van-field__control').val(content_list);
                $('.load_container').html('<div class="van-list__loading"><div class="van-loading van-loading--circular"><span class="van-loading__spinner van-loading__spinner--circular" style="width: 16px; height: 16px;"><svg viewBox="25 25 50 50" class="van-loading__circular"><circle cx="50" cy="50" r="20" fill="none"></circle></svg></span><span class="van-loading__text">Đang tải</span></div></div>');
                if (content_list == 'Tất cả') {
                    setTimeout(() => {
                        $('.load_container').html('<div data-v-4184f752="" role="feed" class="van-list"><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373024990740945188690759.jpg"></div> <div class="item-info"><div class="title">DOCTOR EXTRA SOFT Doctor Ortho Slippers for Women.</div> <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840513239092748363535.jpg"></div> <div class="item-info"><div class="title">Power Men\'s Draven Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;691.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840528921978763889894.jpg"></div> <div class="item-info"><div class="title">Converse Unisex Canvas Sneakers_RED_11 UK / 12 US(150770C)</div> <div class="money"><em>₫</em> <b>&nbsp;297.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840651934415033262222.jpg"></div> <div class="item-info"><div class="title">Bourge Men\'s Loire-62 Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;733.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840658388240297748772.jpg"></div> <div class="item-info"><div class="title">Bersache Men\'s Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;621.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840669708177144342736.jpg"></div> <div class="item-info"><div class="title">HEEDERIN Men\'s Comfortable Mesh Lace up Sport\'s/Running/Walking/Gym/Jogging/Unisex Shoe</div> <div class="money"><em>₫</em> <b>&nbsp;776.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840675592126612811715.jpg"></div> <div class="item-info"><div class="title">Ethics Men\'s Ultra Lite Mesh (Black/Red) Casual Sports Shoes for Men\'s</div> <div class="money"><em>₫</em> <b>&nbsp;756.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840844627585745011534.jpg"></div> <div class="item-info"><div class="title">Dhruvi Women\'S Maxi Dress</div> <div class="money"><em>₫</em> <b>&nbsp;1.650.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840880965432751880115.jpg"></div> <div class="item-info"><div class="title">ANNI DESIGNER Raniyal Georgette Saree with Blouse Piece (Black Gerog_Black_Free Size)</div> <div class="money"><em>₫</em> <b>&nbsp;1.720.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840829037839047357128.jpg"></div> <div class="item-info"><div class="title">Amayra Women\'s Cotton Readymade Salwar Suit</div> <div class="money"><em>₫</em> <b>&nbsp;570.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840822409504303060107.jpg"></div> <div class="item-info"><div class="title">NENA FASHION Women\'s net Lehenga Choli (yami pinkblack_ Black_ X-Large)</div> <div class="money"><em>₫</em> <b>&nbsp;1.097.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840834972659815896486.jpg"></div> <div class="item-info"><div class="title">PERFECTBLUE Women\'s Blend Linen Saree with Unstitched Blouse Piece (DigitalPrintVariation)</div> <div class="money"><em>₫</em> <b>&nbsp;1.732.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840681331996044496725.jpg"></div> <div class="item-info"><div class="title">Power Men\'s Keith Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;715.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840689877391329911310.jpg"></div> <div class="item-info"><div class="title">Sparx Men\'s Sm-323 Dip Canvas Shoes - Black</div> <div class="money"><em>₫</em> <b>&nbsp;527.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840702089354857318305.jpg"></div> <div class="item-info"><div class="title">layasa Men\'s Air Series Mesh Sports Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;752.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840729105311208053605.jpg"></div> <div class="item-info"><div class="title">Inklenzo Men\'s Mesh Quality Black LT Running Sports Walking Casual Sneakers Shoes Size 6,7,8,9,10</div> <div class="money"><em>₫</em> <b>&nbsp;623.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840737212899064166749.jpg"></div> <div class="item-info"><div class="title">Fabricorn Women\'s T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;361.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840745154247206156803.jpg"></div> <div class="item-info"><div class="title">Blacked Women\'s T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;352.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840774443810711986563.jpg"></div> <div class="item-info"><div class="title">Cottonwalas Women\'s Rayon Anarkali Kurta</div> <div class="money"><em>₫</em> <b>&nbsp;508.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840886011050159921534.jpg"></div> <div class="item-info"><div class="title">Plush Womens Cotton Regular fit Printed Long Tshirt/Tshirts (PT-001)</div> <div class="money"><em>₫</em> <b>&nbsp;380.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840891282757728254890.jpg"></div> <div class="item-info"><div class="title">American Tourister 32 Ltrs Red Casual Backpack (AMT Fizz SCH Bag 03 - RED)</div> <div class="money"><em>₫</em> <b>&nbsp;390.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840908519760684026195.jpg"></div> <div class="item-info"><div class="title">Mammon Women\'s Stylish Handbags Combo (4L-bib-Bpink)</div> <div class="money"><em>₫</em> <b>&nbsp;1.000.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840926320027386007098.jpg"></div> <div class="item-info"><div class="title">Safari Polyester 79 cms Red Softsided Check-in Luggage (PRISMA754WRED)</div> <div class="money"><em>₫</em> <b>&nbsp;840.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840934412970851765394.jpg"></div> <div class="item-info"><div class="title">Mammon Women\'s Stylish Handbags Combo (3LR-bib-Grey)</div> <div class="money"><em>₫</em> <b>&nbsp;990.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840941101357288071632.jpg"></div> <div class="item-info"><div class="title">Bizarre Vogue Cute Small Cat Style Backpack for Girls (Cream,BV1204)</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990854674779412088596.jpg"></div> <div class="item-info"><div class="title">TP-Link TL-WR841N 300Mbps Wireless N Cable, 4 Fast LAN Ports, Easy Setup, WPS Button, </div> <div class="money"><em>₫</em> <b>&nbsp;350.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990563274146304906831.jpg"></div> <div class="item-info"><div class="title">BoAt BassHeads in-ear headphones cable</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990790384039026565367.jpg"></div> <div class="item-info"><div class="title">Keyboard mouse suit</div> <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990895675536879826676.jpg"></div> <div class="item-info"><div class="title">The wireless receiver</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="https://img.yesclub.in/upload/public/image/20200710/6373001286261780893199149.jpg"></div> <div class="item-info"><div class="title">Sandisk U1 A1 98Mbps 16GB Ultra MicroSDHC (MicroSD) Memory Card</div> <div class="money"><em>₫</em> <b>&nbsp;190.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990741392651026790573.jpg"></div> <div class="item-info"><div class="title">LV 4mm Thickness Aluminum mobile Stand</div> <div class="money"><em>₫</em> <b>&nbsp;75.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373023579634800004416061.jpg"></div> <div class="item-info"><div class="title">Xs and Os Women\'s Lace Garter Belt and Sheer Stockings Lingerie Set with panty</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373024971195611367874834.jpg"></div> <div class="item-info"><div class="title">Lakme Eyeconic Kajal Twin Pack, Black, 0.35g with 0.35g</div> <div class="money"><em>₫</em> <b>&nbsp;250.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373024943516052374581927.jpg"></div> <div class="item-info"><div class="title">Pigeon by Stovekraft New Handy Mini Plastic Chopper with 3 Blades</div> <div class="money"><em>₫</em> <b>&nbsp;50.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025073878978534386711.jpg"></div> <div class="item-info"><div class="title">AmazonBasics Micro USB Charging Cable for Android Phones with Gold Plated Connectors</div> <div class="money"><em>₫</em> <b>&nbsp;100.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040865080130552350356.jpg"></div> <div class="item-info"><div class="title">Home Utsav Sheer Strip Tissue Net 1 Piece Polyester Transparent Curtains for Window 5 Feet</div> <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040979584948749360698.jpg"></div> <div class="item-info"><div class="title">Foolzy Brush Book ! Makeup Brush Collection (24 Pcs Gold)</div> <div class="money"><em>₫</em> <b>&nbsp;841.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109758009410572060650.jpg"></div> <div class="item-info"><div class="title">Himalaya Herbals Baby Powder</div> <div class="money"><em>₫</em> <b>&nbsp;173.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373041088915918841678950.jpg"></div> <div class="item-info"><div class="title">Prestige Electric Kettle PKOSS - 1500watts, Steel (1.5Ltr), Black</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373041253509890677085921.jpg"></div> <div class="item-info"><div class="title">Fur Jaden 15.6 Inch Laptop Backpack 25 LTR Bag for School, College and Office with USB Charging Port</div> <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373041301585536567852330.jpg"></div> <div class="item-info"><div class="title">AmazonBasics Umbrella (Auto-Open &amp; Close Function) - Black</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373076817595422848294461.jpg"></div> <div class="item-info"><div class="title">SOFTSPUN Microfiber Cloth - 5 pcs - 40x40 cms - 340 GSM Multi-Color</div> <div class="money"><em>₫</em> <b>&nbsp;80.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373077166559219701765629.jpg"></div> <div class="item-info"><div class="title">Lenovo 300 Wired USB Mouse, GX30M39704</div> <div class="money"><em>₫</em> <b>&nbsp;123.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373077383851567914799277.jpg"></div> <div class="item-info"><div class="title">Xmate Zorro Pro 3200DPI, Rechargeable 2.4Ghz Wireless Gaming Mouse with USB Receiver</div> <div class="money"><em>₫</em> <b>&nbsp;193.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373077506601009764944263.jpg"></div> <div class="item-info"><div class="title">Supples Baby Pants Diapers, Medium</div> <div class="money"><em>₫</em> <b>&nbsp;495.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373077610188537414818901.jpg"></div> <div class="item-info"><div class="title">MamyPoko Pants Standard Diapers, Small</div> <div class="money"><em>₫</em> <b>&nbsp;445.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373085549043438635867708.jpg"></div> <div class="item-info"><div class="title">Supples Baby Wet Wipes with Aloe Vera and Vitamin E - 72 Wipes/Pack</div> <div class="money"><em>₫</em> <b>&nbsp;123.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373085769455013128576746.jpg"></div> <div class="item-info"><div class="title">AmazonBasics Nylon Braided USB A to Lightning Compatible Cable - Apple MFi Certified</div> <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025011537036092996129.jpg"></div> <div class="item-info"><div class="title">Jockey Women\'s Cotton Bikini Brief</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025041024717254359838.jpg"></div> <div class="item-info"><div class="title">PARAGON SOLEA Women\'s Pink Sandals</div> <div class="money"><em>₫</em> <b>&nbsp;222.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040697996588925144289.jpg"></div> <div class="item-info"><div class="title">Scott International Men\'s Regular Fit T-Shirt (Pack of 3)</div> <div class="money"><em>₫</em> <b>&nbsp;371.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040921839947763117410.jpg"></div> <div class="item-info"><div class="title">Philips HP8100/46 Hair Dryer</div> <div class="money"><em>₫</em> <b>&nbsp;742.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040805354538342488181.jpg"></div> <div class="item-info"><div class="title">Rupa Jon Men\'s Cotton Vest</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990924256113392490099.jpg"></div> <div class="item-info"><div class="title">Jockey Men\'s Cotton Brief</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040617461123587074104.jpg"></div> <div class="item-info"><div class="title">Maggi 2-Minute Noodles Masala, 70g (Pack of 12)</div> <div class="money"><em>₫</em> <b>&nbsp;297.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373023597426054766663354.jpg"></div> <div class="item-info"><div class="title">Xs and Os Women Babydoll Nightwear Lingerie Layered Open Front Design with Panty</div> <div class="money"><em>₫</em> <b>&nbsp;495.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990590310948598023332.jpg"></div> <div class="item-info"><div class="title">Wireless headset boAt Rockerz 255 movement</div> <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025106581724745521537.jpg"></div> <div class="item-info"><div class="title">Puma Unisex\'s Altai Gu 2 Idp Royal Black Flip-Flops</div> <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990671252083752464931.jpg"></div> <div class="item-info"><div class="title">Ambrane 10000mAh</div> <div class="money"><em>₫</em> <b>&nbsp;742.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109890812719085813158.jpg"></div> <div class="item-info"><div class="title">Redgear Pro Wireless Gamepad (Compatible with Windows 7/8/8.1/10 only)</div> <div class="money"><em>₫</em> <b>&nbsp;942.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109717043750089645427.jpg"></div> <div class="item-info"><div class="title">ASIAN Cosco Sports Running Shoes for Men</div> <div class="money"><em>₫</em> <b>&nbsp;720.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109550880329874521948.jpg"></div> <div class="item-info"><div class="title">Sparx Men\'s Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;890.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109931917013911318643.jpg"></div> <div class="item-info"><div class="title">WildHorn® RFID Protected Genuine High Quality Leather Wallet,Keychain &amp; Pen Combo for Men</div> <div class="money"><em>₫</em> <b>&nbsp;1.732.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373111313261144961805046.jpg"></div> <div class="item-info"><div class="title">LIMESHOT® HP17 Wireless Bluetooth Earphone with Mic | Sports Headphone Headset Neckband </div> <div class="money"><em>₫</em> <b>&nbsp;989.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373110000941437668834657.jpg"></div> <div class="item-info"><div class="title">AELOMART Men\'s Regular Fit T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;787.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373041015674724391958379.jpg"></div> <div class="item-info"><div class="title">Urban Forest Oliver Mens Leather Wallet</div> <div class="money"><em>₫</em> <b>&nbsp;1.485.000</b></div> <!----></div></div></div><div class="van-list__finished-text">Không còn dữ liệu</div><div class="van-list__placeholder"></div></div>');
                    }, 500);
                } else if (content_list == 'shoes') {
                    setTimeout(() => {
                        $('.load_container').html('<div data-v-4184f752="" role="feed" class="van-list"><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373024990740945188690759.jpg"></div> <div class="item-info"><div class="title">DOCTOR EXTRA SOFT Doctor Ortho Slippers for Women.</div> <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840513239092748363535.jpg"></div> <div class="item-info"><div class="title">Power Men\'s Draven Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;691.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840528921978763889894.jpg"></div> <div class="item-info"><div class="title">Converse Unisex Canvas Sneakers_RED_11 UK / 12 US(150770C)</div> <div class="money"><em>₫</em> <b>&nbsp;297.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840651934415033262222.jpg"></div> <div class="item-info"><div class="title">Bourge Men\'s Loire-62 Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;733.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840658388240297748772.jpg"></div> <div class="item-info"><div class="title">Bersache Men\'s Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;621.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840669708177144342736.jpg"></div> <div class="item-info"><div class="title">HEEDERIN Men\'s Comfortable Mesh Lace up Sport\'s/Running/Walking/Gym/Jogging/Unisex Shoe</div> <div class="money"><em>₫</em> <b>&nbsp;776.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840675592126612811715.jpg"></div> <div class="item-info"><div class="title">Ethics Men\'s Ultra Lite Mesh (Black/Red) Casual Sports Shoes for Men\'s</div> <div class="money"><em>₫</em> <b>&nbsp;756.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840681331996044496725.jpg"></div> <div class="item-info"><div class="title">Power Men\'s Keith Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;715.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840689877391329911310.jpg"></div> <div class="item-info"><div class="title">Sparx Men\'s Sm-323 Dip Canvas Shoes - Black</div> <div class="money"><em>₫</em> <b>&nbsp;527.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840702089354857318305.jpg"></div> <div class="item-info"><div class="title">layasa Men\'s Air Series Mesh Sports Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;752.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840729105311208053605.jpg"></div> <div class="item-info"><div class="title">Inklenzo Men\'s Mesh Quality Black LT Running Sports Walking Casual Sneakers Shoes Size 6,7,8,9,10</div> <div class="money"><em>₫</em> <b>&nbsp;623.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025041024717254359838.jpg"></div> <div class="item-info"><div class="title">PARAGON SOLEA Wo\ Pink Sandals</div> <div class="money"><em>₫</em> <b>&nbsp;222.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025106581724745521537.jpg"></div> <div class="item-info"><div class="title">Puma Unisex\'s Altai Gu 2 Idp Royal Black Flip-Flops</div> <div class="money"><em>₫</em> <b>&nbsp;99.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109717043750089645427.jpg"></div> <div class="item-info"><div class="title">ASIAN Cosco Sports Running Shoes for Men</div> <div class="money"><em>₫</em> <b>&nbsp;720.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373109550880329874521948.jpg"></div> <div class="item-info"><div class="title">Sparx \ Running Shoes</div> <div class="money"><em>₫</em> <b>&nbsp;890.000</b></div> <!----></div></div></div><div class="van-list__finished-text">Không còn dữ liệu</div><div class="van-list__placeholder"></div></div>');
                    }, 500);
                } else if (content_list == 'bags') {
                    setTimeout(() => {
                        $('.load_container').html('<div data-v-4184f752="" role="feed" class="van-list"><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840891282757728254890.jpg"></div> <div class="item-info"><div class="title">American Tourister 32 Ltrs Red Casual Backpack (AMT Fizz SCH Bag 03 - RED)</div> <div class="money"><em>₫</em> <b>&nbsp;390.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840908519760684026195.jpg"></div> <div class="item-info"><div class="title">Mammon Women\'s Stylish Handbags Combo (4L-bib-Bpink)</div> <div class="money"><em>₫</em> <b>&nbsp;1.000.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840926320027386007098.jpg"></div> <div class="item-info"><div class="title">Safari Polyester 79 cms Red Softsided Check-in Luggage (PRISMA754WRED)</div> <div class="money"><em>₫</em> <b>&nbsp;840.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840934412970851765394.jpg"></div> <div class="item-info"><div class="title">Mammon Women\'s Stylish Handbags Combo (3LR-bib-Grey)</div> <div class="money"><em>₫</em> <b>&nbsp;990.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840941101357288071632.jpg"></div> <div class="item-info"><div class="title">Bizarre Vogue Cute Small Cat Style Backpack for Girls (Cream,BV1204)</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373041253509890677085921.jpg"></div> <div class="item-info"><div class="title">Fur Jaden 15.6 Inch Laptop Backpack 25 LTR Bag for School, College and Office with USB Charging Port</div> <div class="money"><em>₫</em> <b>&nbsp;396.000</b></div> <!----></div></div></div><div class="van-list__finished-text">Không còn dữ liệu</div><div class="van-list__placeholder"></div></div>');
                    }, 500);
                } else if (content_list == 'Clothing') {
                    setTimeout(() => {
                        $('.load_container').html('<div data-v-4184f752="" role="feed" class="van-list"><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840844627585745011534.jpg"></div> <div class="item-info"><div class="title">Dhruvi Women\'S Maxi Dress</div> <div class="money"><em>₫</em> <b>&nbsp;1.650.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840880965432751880115.jpg"></div> <div class="item-info"><div class="title">ANNI DESIGNER Raniyal Georgette Saree with Blouse Piece (Black Gerog_Black_Free Size)</div> <div class="money"><em>₫</em> <b>&nbsp;1.720.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840829037839047357128.jpg"></div> <div class="item-info"><div class="title">Amayra Women\'s Cotton Readymade Salwar Suit</div> <div class="money"><em>₫</em> <b>&nbsp;570.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840822409504303060107.jpg"></div> <div class="item-info"><div class="title">NENA FASHION Women\'s net Lehenga Choli (yami pinkblack_ Black_ X-Large)</div> <div class="money"><em>₫</em> <b>&nbsp;1.097.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840834972659815896486.jpg"></div> <div class="item-info"><div class="title">PERFECTBLUE Women\'s Blend Linen Saree with Unstitched Blouse Piece (DigitalPrintVariation)</div> <div class="money"><em>₫</em> <b>&nbsp;1.732.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840737212899064166749.jpg"></div> <div class="item-info"><div class="title">Fabricorn Women\'s T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;361.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840745154247206156803.jpg"></div> <div class="item-info"><div class="title">Blacked Women\'s T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;352.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840774443810711986563.jpg"></div> <div class="item-info"><div class="title">Cottonwalas Women\'s Rayon Anarkali Kurta</div> <div class="money"><em>₫</em> <b>&nbsp;508.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840886011050159921534.jpg"></div> <div class="item-info"><div class="title">Plush Womens Cotton Regular fit Printed Long Tshirt/Tshirts (PT-001)</div> <div class="money"><em>₫</em> <b>&nbsp;380.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373023579634800004416061.jpg"></div> <div class="item-info"><div class="title">Xs and Os Women\'s Lace Garter Belt and Sheer Stockings Lingerie Set with panty</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025011537036092996129.jpg"></div> <div class="item-info"><div class="title">Jockey Women\'s Cotton Bikini Brief</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040697996588925144289.jpg"></div> <div class="item-info"><div class="title">Scott International Men\'s Regular Fit T-Shirt (Pack of 3)</div> <div class="money"><em>₫</em> <b>&nbsp;371.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040805354538342488181.jpg"></div> <div class="item-info"><div class="title">Rupa Jon Men\'s Cotton Vest</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990924256113392490099.jpg"></div> <div class="item-info"><div class="title">Jockey Men\'s Cotton Brief</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373023597426054766663354.jpg"></div> <div class="item-info"><div class="title">Xs and Os Women Babydoll Nightwear Lingerie Layered Open Front Design with Panty</div> <div class="money"><em>₫</em> <b>&nbsp;495.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373110000941437668834657.jpg"></div> <div class="item-info"><div class="title">AELOMART Men\'s Regular Fit T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;787.000</b></div> <!----></div></div></div><div class="van-list__finished-text">Không còn dữ liệu</div><div class="van-list__placeholder"></div></div>');
                    }, 500);
                } else if (content_list == 'Cloth') {
                    setTimeout(() => {
                        $('.load_container').html('<div data-v-4184f752="" role="feed" class="van-list"><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840844627585745011534.jpg"></div> <div class="item-info"><div class="title">Dhruvi Women\'S Maxi Dress</div> <div class="money"><em>₫</em> <b>&nbsp;1.650.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840880965432751880115.jpg"></div> <div class="item-info"><div class="title">ANNI DESIGNER Raniyal Georgette Saree with Blouse Piece (Black Gerog_Black_Free Size)</div> <div class="money"><em>₫</em> <b>&nbsp;1.720.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840829037839047357128.jpg"></div> <div class="item-info"><div class="title">Amayra Women\'s Cotton Readymade Salwar Suit</div> <div class="money"><em>₫</em> <b>&nbsp;570.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840822409504303060107.jpg"></div> <div class="item-info"><div class="title">NENA FASHION Women\'s net Lehenga Choli (yami pinkblack_ Black_ X-Large)</div> <div class="money"><em>₫</em> <b>&nbsp;1.097.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840834972659815896486.jpg"></div> <div class="item-info"><div class="title">PERFECTBLUE Women\'s Blend Linen Saree with Unstitched Blouse Piece (DigitalPrintVariation)</div> <div class="money"><em>₫</em> <b>&nbsp;1.732.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840737212899064166749.jpg"></div> <div class="item-info"><div class="title">Fabricorn Women\'s T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;361.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840745154247206156803.jpg"></div> <div class="item-info"><div class="title">Blacked Women\'s T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;352.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840774443810711986563.jpg"></div> <div class="item-info"><div class="title">Cottonwalas Women\'s Rayon Anarkali Kurta</div> <div class="money"><em>₫</em> <b>&nbsp;508.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372840886011050159921534.jpg"></div> <div class="item-info"><div class="title">Plush Womens Cotton Regular fit Printed Long Tshirt/Tshirts (PT-001)</div> <div class="money"><em>₫</em> <b>&nbsp;380.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373023579634800004416061.jpg"></div> <div class="item-info"><div class="title">Xs and Os Women\'s Lace Garter Belt and Sheer Stockings Lingerie Set with panty</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373025011537036092996129.jpg"></div> <div class="item-info"><div class="title">Jockey Women\'s Cotton Bikini Brief</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040697996588925144289.jpg"></div> <div class="item-info"><div class="title">Scott International Men\'s Regular Fit T-Shirt (Pack of 3)</div> <div class="money"><em>₫</em> <b>&nbsp;371.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img//6373040805354538342488181.jpg"></div> <div class="item-info"><div class="title">Rupa Jon Men\'s Cotton Vest</div> <div class="money"><em>₫</em> <b>&nbsp;148.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6372990924256113392490099.jpg"></div> <div class="item-info"><div class="title">Jockey Men\'s Cotton Brief</div> <div class="money"><em>₫</em> <b>&nbsp;247.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373023597426054766663354.jpg"></div> <div class="item-info"><div class="title">Xs and Os Women Babydoll Nightwear Lingerie Layered Open Front Design with Panty</div> <div class="money"><em>₫</em> <b>&nbsp;495.000</b></div> <!----></div></div></div><div data-v-4184f752="" href="/product/index" class="product-box"><div class="product-box-item"><div class="product-img"><img src="/img/6373110000941437668834657.jpg"></div> <div class="item-info"><div class="title">AELOMART Men\'s Regular Fit T-Shirt</div> <div class="money"><em>₫</em> <b>&nbsp;787.000</b></div> <!----></div></div></div><div class="van-list__finished-text">Không còn dữ liệu</div><div class="van-list__placeholder"></div></div>');
                    }, 500);
                } else {
                    setTimeout(() => {
                        $('.load_container').html('<div class="van-list__finished-text">Không còn dữ liệu</div><div class="van-list__placeholder"></div>');
                    }, 500);
                }
            })
        );
        $('.van-index-item1').click(function() {
            window.location = '/index';
        });
        $('.van-index-item2').click(function() {
            window.location = '/parity/tran';
        });
        $('.van-index-item3').click(function() {
            window.location = '/member/index';
        });

$('.openchat').click(function() {
    window.open('https://chat.VCgroup.vip', '_blank');
});
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        var checkToken = getCookie('token');
        if (checkToken != "") {
            $('.van-index-item4').addClass('closer');
            $('.van-index-item4').html('<div class="van-tabbar-item__icon"><img class="img2" src="/images/parity1.png"><!----></div><div class="van-tabbar-item__text"><span>Sale</span></div>');
        } else {
            $('.van-index-item2').addClass('closer');
            $('.van-index-item4').html('<div class="van-tabbar-item__icon"><img src="/images/search1.png"></div><div class="van-tabbar-item__text"> <span>Tìm kiếm</span>  </div>');
        }
    </script>
</body>

</html>