<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Login</title>
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/pages__account.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .van-toast__icon {
            height: 36px;
        }
    </style>
</head>

<body class="">
    <div class="preloader"></div>
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-5f483b78="">
            <div data-v-5f483b78="" class="login-content">
                <div data-v-5f483b78="" class="header">
                    <div data-v-5f483b78="" class="account-tabs van-tabs van-tabs--line">
                        <div style="">
                            <div class="van-sticky">
                                <div class="van-tabs__wrap">
                                    <div role="tablist" class="van-tabs__nav van-tabs__nav--line">
                                        <div role="tab" class="van-tab van-tab1 van-tab--active" aria-selected="true">
                                            <span class="van-tab__text van-tab__text--ellipsis">
                                                <div data-v-5f483b78="" class="header-tab header-tab__login">
                                                    <span data-v-5f483b78="">Đăng nhập</span>
                                        </div>
                                        </span>
                                    </div>
                                    <div role="tab" class="van-tab van-tab2">
                                        <span class="van-tab__text van-tab__text--ellipsis">
                                                <div data-v-5f483b78="" class="header-tab header-tab__register">
                                                    <span data-v-5f483b78="">Đăng kí</span>
                                    </div>
                                    </span>
                                </div>
                                <div class="van-tabs__line" style="transform: translateX(87.5px) translateX(-50%); height: 0px; border-radius: 0px; transition-duration: 0.3s;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="van-tabs__content van-tabs__content--animated">
                    <div class="van-tabs__track login">
                        <div data-v-5f483b78="" role="tabpanel" class="van-tab__pane-wrapper van-tab__pane-wrapper1">
                            <div class="van-tab__pane">
                                <div data-v-5f483b78="">
                                    <div data-v-5f483b78="" class="enter">
                                        <div data-v-5f483b78="" class="van-cell-group van-hairline--top-bottom">
                                            <div data-v-5f483b78="" class="input van-cell van-field">
                                                <div class="van-field__left-icon"><i data-v-5f483b78="" class="van-icon van-icon-manager">
                                                                <!---->
                                                            </i></div>
                                                <div class="van-cell__value van-cell__value--alone van-field__value">
                                                    <div class="van-field__body">
                                                        <input type="text" placeholder="Tên tài khoản" class="van-field__control" id="phone_login">
                                                    </div>
                                                    <div class="van-field__error-message" id="error"></div>
                                                </div>
                                            </div>
                                            <div data-v-5f483b78="" class="van-cell van-field">
                                                <div class="van-field__left-icon"><i data-v-5f483b78="" class="van-icon van-icon-lock">
                                                                <!---->
                                                            </i></div>
                                                <div class="van-cell__value van-cell__value--alone van-field__value">
                                                    <div class="van-field__body">
                                                        <input type="password" placeholder="Mật khẩu" class="van-field__control" id="pass_login">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-5f483b78="" class="button-jump">
                                        <button data-v-5f483b78="" class="reset-password">Quên mật khẩu?</button>
                                    </div>
                                </div>
                                <button data-v-5f483b78="" class="button-btn login_check">Đăng nhập ngay</button>
                                <a href="/index">
                                    <button data-v-5f483b78="" class="button-btn" style="background-color: rgb(112, 112, 112);">quay về trang chủ</button>
                                </a>
                            </div>
                        </div>
                        <div data-v-5f483b78="" role="tabpanel" class="van-tab__pane-wrapper van-tab__pane-wrapper2 van-tab__pane-wrapper--inactive" style="height: 100%" aria-hidden="true">
                            <div class="van-tab__pane">
                                <div data-v-5f483b78="" class="enter">
                                    <div data-v-5f483b78="" class="van-cell-group van-hairline--top-bottom">
                                        <!---->
                                        <!---->
                                        <div data-v-5f483b78="">
                                            <div data-v-5f483b78="" href="javascript:void(0);" style="padding: 16px 0px 16px 30px; color: rgb(22, 116, 60);">VietNam</div>
                                            <div data-v-5f483b78="" class="van-cell1">
                                                <div data-v-5f483b78="" style="display: flex; align-items: center;">
                                                    <!-- <div data-v-5f483b78="" class="Nationalarea">Email</div> -->
                                                    <img src="/images/phone.png" alt="" style="width: 21px;padding: 0 10px;opacity: 0.8;">
                                                    <input data-v-5f483b78="" type="text" placeholder="Nhập Số Điện Thoại" class="Nationalarea-input">
                                                </div>
                                                <div data-v-5f483b78="" class="errrorPhone"></div>
                                            </div>
                                            <div data-v-5f483b78="" class="Nationalarea-text" style="display: none;">
                                                <div data-v-5f483b78="" class="Nationalarea-list-text">84,Vietnam</div>
                                            </div>
                                        </div>
                                        <div data-v-5f483b78="" class="van-cell van-field">
                                            <div class="van-field__left-icon"><i data-v-5f483b78="" class="van-icon van-icon-lock">
                                                            <!---->
                                                        </i></div>
                                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                                <div class="van-field__body">
                                                    <input type="password" placeholder="Tạo mật khẩu" class="van-field__control pass_signup">
                                                </div>
                                                <div class="van-field__error-message pa"></div>
                                            </div>
                                        </div>
                                        <div data-v-5f483b78="" class="van-cell van-field">
                                            <div class="van-field__left-icon"><i data-v-5f483b78="" class="van-icon van-icon-lock">
                                                            <!---->
                                                        </i></div>
                                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                                <div class="van-field__body">
                                                    <input type="password" placeholder="Xác nhận mật khẩu" class="van-field__control re_pass_signup">
                                                </div>
                                                <div class="van-field__error-message kk"></div>
                                                <div class="van-field__error-message re"></div>
                                            </div>
                                        </div>
                                        <div data-v-5f483b78="" class="van-cell van-field">
                                            <div class="van-field__left-icon"><i data-v-5f483b78="" class="van-icon van-icon-award">
                                                            <!---->
                                                        </i></div>
                                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                                <div class="van-field__body">
                                                    <input type="text" placeholder="Mã giới thiệu" value="" class="van-field__control infiniti_signup">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-5f483b78="">
                                    <p data-v-5f483b78="" class="markedWords">
                                        <label data-v-5f483b78="">
                                                    <input data-v-5f483b78="" class="checkbox" type="checkbox">Tôi đồng ý với<a data-v-5f483b78="" href="javascript:void(0);" style="text-decoration: none; color: rgb(22, 116, 60);">Chính sách bảo mật</a>
                                                </label>
                                    </p>
                                    <div id="ip" style="display: none;"></div>
                                </div>
                                <button data-v-5f483b78="" class="button-btn signup_check">Đăng kí</button>
                                <a href="/index">
                                    <button data-v-5f483b78="" class="button-btn btn-back_login" style="background-color: rgb(112, 112, 112); margin-bottom: 35px;">quay về trang chủ</button>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!---->
    </div>
    </div>
    <style>
        .display-none {
            display: none;
        }
        
        .display-flex {
            display: flex;
        }
    </style>
    <div class="van-toast van-toast--middle van-toast--loading display-none" style="z-index: 2003;">
        <div class="van-loading van-loading--circular van-toast__loading" style="line-height: 0;">
            <span class="van-loading__spinner van-loading__spinner--circular">
                <svg viewBox="25 25 50 50" class="van-loading__circular">
                    <circle cx="50" cy="50" r="20" fill="none"></circle>
                </svg>
            </span>
        </div>
        <div class="van-toast__text">Đang tải</div>
    </div>
    <div class="van-toast van-toast--middle van-toast--fail display-none" style="z-index: 2006">
        <i class="van-icon van-icon-fail van-toast__icon">
            <!---->
        </i>
        <div class="van-toast__text"></div>
    </div>
    <div class="van-toast van-toast--middle van-toast--text display-none" style="z-index: 2001;">
        <div class="van-toast__text"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/chuck.corejs.js"></script>
    <!-- <script src="/js/block.js"></script> -->
    <% if(status == 0) { %>
        <script>
            var idIntive = '<%=idIntive%>';
            $('.infiniti_signup').val(idIntive);
            $('.van-tabs__track').removeClass('login');
            $('.van-tabs__track').addClass('register');
            $('.van-tab1').removeClass('van-tab--active');
            $('.van-tab2').addClass('van-tab--active');
        </script>
        <% } %>
</body>

</html>