<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Reset Password</title>
    <link href="../public/css/vantjs.css" rel="stylesheet">
    <link href="../public/css/vendor.css" rel="stylesheet">
    <link href="../public/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/pages__account.css">
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-e6859aa8="" class="resetpwd-content">
            <div data-v-e6859aa8="" class="van-nav-bar van-nav-bar--fixed van-hairline--bottom" style="background-color: rgb(245, 245, 245);">
                <a href="login">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">Khôi phục mật khẩu</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div data-v-e6859aa8="" class="bar-box"></div>
            <div data-v-e6859aa8="" class="top">
                <div data-v-e6859aa8="" class="top-title">
                    Khôi phục mật khẩu
                </div>
            </div>
            <div data-v-e6859aa8="">
                <div data-v-e6859aa8="" class="enter">
                    <div data-v-e6859aa8="" style="margin: 20px 10px 0px;">
                        <div data-v-e6859aa8="" class="enter-cell van-cell-group van-hairline--top-bottom">
                            <!---->
                            <!---->
                            <div data-v-e6859aa8="">
                                <div data-v-e6859aa8="" href="javascript:void(0);" style="padding: 16px 0px 16px 30px; color: rgb(22, 116, 60);">
                                    VietNam
                                </div>
                                <div data-v-e6859aa8="" class="van-cell1" style="margin-left: 16px; border-bottom: 1px solid rgb(235, 237, 240);">
                                    <div data-v-e6859aa8="" style="display: flex; align-items: center; padding: 16px 0px;">
                                        <div data-v-e6859aa8="" class="Nationalarea">
                                            +84
                                        </div> <input data-v-e6859aa8="" type="text" placeholder="Số điện thoại đăng kí" class="Nationalarea-input"></div>
                                    <!---->
                                </div>
                                <div data-v-e6859aa8="" class="Nationalarea-text" style="display: none;">
                                    <div data-v-e6859aa8="" class="Nationalarea-list-text">
                                        84,Vietnam
                                    </div>
                                </div>
                            </div>
                            <div data-v-e6859aa8="" class="van-cell van-field">
                                <div class="van-field__left-icon"><i data-v-e6859aa8="" class="van-icon van-icon-lock"><!----></i></div>
                                <div class="van-cell__value van-cell__value--alone van-field__value">
                                    <div class="van-field__body"><input type="password" placeholder="Tạo mật khẩu" class="van-field__control"></div>
                                </div>
                            </div>
                            <div data-v-e6859aa8="" class="van-cell van-field">
                                <div class="van-field__left-icon"><i data-v-e6859aa8="" class="van-icon van-icon-lock"><!----></i></div>
                                <div class="van-cell__value van-cell__value--alone van-field__value">
                                    <div class="van-field__body"><input type="password" placeholder="Xác nhận mật khẩu" class="van-field__control"></div>
                                </div>
                            </div>
                            <div data-v-e6859aa8="" class="van-cell van-cell--center van-field">
                                <div class="van-field__left-icon"><i data-v-e6859aa8="" class="van-icon van-icon-comment"><!----></i></div>
                                <div class="van-cell__value van-cell__value--alone van-field__value">
                                    <div class="van-field__body"><input type="text" placeholder="Mã xác nhận" class="van-field__control">
                                        <div class="van-field__button"><button data-v-e6859aa8="" class="van-button van-button--primary van-button--small" style="background-color: rgb(0, 184, 169); border: none;"><div data-v-e6859aa8="" class="van-button__content"><span data-v-e6859aa8="" class="van-button__text">Mã OTP</span></div></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-e6859aa8="" class="button"><button data-v-e6859aa8="" class="button-btn">
                Tiếp tục
            </button></div>
            </div>
        </div>
    </div>
    <div class="van-toast van-toast--middle van-toast--text" style="z-index: 2010; display: none;">
        <div class="van-toast__text">Mã xác nhận đã gửi thành công</div>
    </div>
    <script src="js/block.js"></script>
</body>

</html>