<div data-v-9241de2e="" class="site-tabbar">
    <div class="bottom-bar van-hairline--top-bottom van-tabbar van-tabbar--fixed">
        <div class="van-tabbar-item van-parity-item1">
            <div class="van-tabbar-item__icon">
                <img class="img1" src="/images/home.png">
                <!---->
            </div>
            <div class="van-tabbar-item__text">
                <span>Trang chủ</span>
            </div>
        </div>
        <div class="van-tabbar-item van-parity-item2 van-tabbar-item--active">
            <div class="van-tabbar-item__icon">
                <img class="img2" src="/images/parity2.png">
                <!---->
            </div>
            <div class="van-tabbar-item__text">
                <span>Sale</span>
            </div>
        </div>
        <div class="van-tabbar-item van-parity-item3">
            <div class="van-tabbar-item__icon">
                <img class="img3" src="/images/ucenter.png">
                <!---->
            </div>
            <div class="van-tabbar-item__text">
                <span>Của tôi</span>
            </div>
        </div>
        <div class="van-tabbar-item openchat">
            <div class="van-tabbar-item__icon">
                <img class="img3" src="/images/chat.png">
                <!---->
            </div>
            <div class="van-tabbar-item__text">
                <span>Chat</span>
            </div>
        </div>
        
    </div>
</div>