<div data-v-04e3b381="" class="van-popup van-popup--center" style="overflow-y: hidden;width: calc(100% - 30px);z-index: 2020;display: none;">
    <div data-v-04e3b381="" class="policy-layout">
        <div data-v-04e3b381="" class="policy-scrollview">
            <div data-v-04e3b381="" class="policy-scrollview__main">
                <div data-v-04e3b381="">
                    <p>Quy tắc đoán:</p>
                    <p>3 phút mỗi lượt, 2 phút và 30 giây để đặt, 30 giây để xem kết quả, liên tục trong ngày, tổng cộng 480 lượt</p>
                    <p>Nếu bạn chi 20000đ để giao dịch, sau khi trừ 0đ phí dịch vụ, số tiền hợp đồng của bạn là 20000đ</p>
                    <p>1. Chọn Ưu Đãi(xanh): nếu kết quả hiển thị 1,3,7,9, bạn sẽ nhận được (20000 * 2) 40000đ</p>
                    <p>Nếu kết quả là 5, bạn nhận được (20000*1.5) 30000đ</p>
                    <p>2. CHỌN Authentica(Đỏ): nếu kết quả hiển thị 2,4,6,8, bạn sẽ nhận được (20000 * 2) 40000đ ; Nếu kết quả hiển thị 0, bạn sẽ nhận được (20000 * 1,5) 30000đ.</p>
                    <p>3. CHỌN Sale(Tím) : nếu kết quả hiển thị 0 hoặc 5, bạn sẽ nhận được (20000 * 4,5) 90000đ</p>
                    <p>4. CHỌN SỐ: nếu kết quả giống với số bạn đã chọn, bạn sẽ nhận được (20000 * 9) 180000đ.</p>
                </div>
            </div>
        </div>
    </div>
    <i role="button" tabindex="0" class="van-icon van-icon-cross van-popup__close-icon van-popup__close-icon--top-right"><!----></i></div>
</div>