<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact Us</title>
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div data-v-77e6ba43="" class="security-content">
            <div data-v-77e6ba43="" class="van-nav-bar van-nav-bar--fixed">
                <a href="/member/index">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">Liên hệ chúng tối</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div data-v-77e6ba43="" class="bar-box"></div>
            <div data-v-77e6ba43="">
                <div data-v-77e6ba43="" class="top">
                    <div data-v-77e6ba43="" class="top-title">
                        Liên hệ chúng tối
                    </div>
                </div>
                <section data-v-77e6ba43="" class="security-main">
                    <div data-v-77e6ba43="" class="security-main__more van-cell-group van-hairline--top-bottom">
                        <div data-v-77e6ba43="" class="van-cell">
                            <div data-v-77e6ba43="" class="van-cell__title">
                                <span data-v-77e6ba43="">Telegram group:https://t.me/</span>
                            </div>
                            <i data-v-77e6ba43="" class="van-icon van-icon-arrow" style="line-height: inherit;"><!----></i>
                        </div>
                        <div data-v-77e6ba43="" class="van-cell">
                            <div data-v-77e6ba43="" class="van-cell__title">
                                <span data-v-77e6ba43="">Telegram group: https://t.me/</span>
                            </div>
                            <i data-v-77e6ba43="" class="van-icon van-icon-arrow" style="line-height: inherit;"><!----></i>
                        </div>
                        <div data-v-77e6ba43="" class="van-cell">
                            <div data-v-77e6ba43="" class="van-cell__title">
                                <span data-v-77e6ba43="">Telegram group:https://t.me/</span>
                            </div>
                            <i data-v-77e6ba43="" class="van-icon van-icon-arrow" style="line-height: inherit;"><!----></i>
                        </div>
                    </div>
                </section>
            </div>
            <!---->
        </div>
    </div>
</body>

</html>