<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>My Task</title>
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/pages__myTask.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <!--JS-->
    <!-- <script src="block.js"></script> -->
    <style>
        .img-baer img {
            margin-top: 25px;
            width: calc(100vw - 88px);
            height: 100%;
            object-fit: cover;
        }
        
        .closer {
            display: none;
        }
    </style>
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <div data-v-6fae224a="" class="home">
            <div data-v-6fae224a="" class="All">
                <div data-v-6fae224a="" class="navigation">
                    <div data-v-6fae224a="" class="van-nav-bar van-nav-bar--fixed" style="background: rgb(0, 184, 169); color: rgb(255, 255, 255);">
                        <a href="/member/index">
                            <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                        </a>
                        <div class="van-nav-bar__title van-ellipsis">trung tâm nhiệm vụ</div>
                        <div class="van-nav-bar__right">
                            <div data-v-6fae224a="" class="headline-title">quy luật</div>
                        </div>
                    </div>
                </div>
                <div data-v-6fae224a="" class="bar-box"></div>
                <div data-v-6fae224a="" class="All-main" style="height: 100vh;">
                    <div data-v-6fae224a="" class="container">
                        <div data-v-6fae224a="" class="header">
                            <div data-v-6fae224a="" class="header-btnone">nhiệm vụ của tôi</div>
                            <div data-v-6fae224a="" class="header-text"><i data-v-6fae224a="" class="iconfont icon-laba"></i> <span data-v-6fae224a="">làm nhiệm vụ và nhận lợi ích</span></div>
                            <div data-v-6fae224a="" class="header-view">
                                <div data-v-6fae224a="" class="header-dot-left"></div>
                                <div data-v-6fae224a="" class="header-dot-right"></div>
                            </div>
                            <div data-v-6fae224a="" class="header-icon">
                                <div data-v-6fae224a="" class="header-rectangle"></div>
                                <div data-v-6fae224a="" class="header-rectangle header-icon-chang"></div>
                            </div>
                        </div>
                        <div data-v-6fae224a="" class="content">
                            <div data-v-6fae224a="" class="header-view">
                                <div data-v-6fae224a="" class="header-dot-left"></div>
                                <div data-v-6fae224a="" class="header-dot-right"></div>
                            </div>
                            <div data-v-6fae224a="" class="Task-list"><span data-v-6fae224a="">danh sách nhiệm vụ</span></div>
                            <div data-v-6fae224a="" class="contentScroll" style="height: 472px;">
                                <div data-v-6fae224a="" class="Tasklist-for">
                                    <div data-v-6fae224a="" class="content-item">
                                        <div data-v-6fae224a="" class="item-top-img"><img data-v-6fae224a="" src="/images/xiaorentou.png"></div>
                                        <div data-v-6fae224a="" class="content-item-rit">
                                            <div data-v-6fae224a="" class="content-item-left">
                                                <div data-v-6fae224a="" class="item-top-left"><span data-v-6fae224a="">Giới thiệu cho một thành viên, và thành viên đó hoàn thành ít nhất một lần giao dịch, thì có thể nhận thưởng 30k VNĐ</span>
                                                    <div data-v-6fae224a="" class="jindutiaotiao">
                                                        <div data-v-6fae224a="" class="jindutiao">
                                                            <div data-v-6fae224a="" class="jindutiao-center" style="width: 43.9824px;"></div>
                                                        </div> <span data-v-6fae224a="">4998/5000</span></div>
                                                </div>
                                                <div data-v-6fae224a="" class="item-bottom-left">
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian nhận nhiệm vụ: 22 Dec 2021, 08:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian bắt đầu nhiệm vụ: 22 Dec 2021, 08:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian kết thúc nhiệm vụ : 23 Dec 2021, 08:00 am</div>
                                                </div>
                                            </div>
                                            <div data-v-6fae224a="" class="content-item-right">
                                                <div data-v-6fae224a="" class="content-item-right-text"><span data-v-6fae224a="">₫ 30.000</span></div>
                                                <div data-v-6fae224a="" class="daojishi-text">Nhận</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6fae224a="" class="Tasklist-for">
                                    <div data-v-6fae224a="" class="content-item">
                                        <div data-v-6fae224a="" class="item-top-img"><img data-v-6fae224a="" src="/images/xiaorentou.png"></div>
                                        <div data-v-6fae224a="" class="content-item-rit">
                                            <div data-v-6fae224a="" class="content-item-left">
                                                <div data-v-6fae224a="" class="item-top-left"><span data-v-6fae224a="">Giới thiệu cho 2 thành viên, và mỗi thành viên hoàn thành ít nhất một lần giao dịch, thì có thể nhận thưởng 60k VNĐ</span>
                                                    <div data-v-6fae224a="" class="jindutiaotiao">
                                                        <div data-v-6fae224a="" class="jindutiao">
                                                            <div data-v-6fae224a="" class="jindutiao-center" style="width: 44px;"></div>
                                                        </div> <span data-v-6fae224a="">5000/5000</span></div>
                                                </div>
                                                <div data-v-6fae224a="" class="item-bottom-left">
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian nhận nhiệm vụ: 21 Dec 2021, 08:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian bắt đầu nhiệm vụ: 21 Dec 2021, 10:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian kết thúc nhiệm vụ : 22 Dec 2021, 10:00 pm</div>
                                                </div>
                                            </div>
                                            <div data-v-6fae224a="" class="content-item-right">
                                                <div data-v-6fae224a="" class="content-item-right-text"><span data-v-6fae224a="">₫ 60.000</span></div>
                                                <div data-v-6fae224a="" class="daojishi-text">
                                                    Nhận
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6fae224a="" class="Tasklist-for">
                                    <div data-v-6fae224a="" class="content-item">
                                        <div data-v-6fae224a="" class="item-top-img"><img data-v-6fae224a="" src="/images/xiaorentou.png"></div>
                                        <div data-v-6fae224a="" class="content-item-rit">
                                            <div data-v-6fae224a="" class="content-item-left">
                                                <div data-v-6fae224a="" class="item-top-left"><span data-v-6fae224a="">Giới thiệu cho 2 thành viên, và mỗi thành viên hoàn thành ít nhất một lần giao dịch, thì có thể nhận thưởng 60k VNĐ</span>
                                                    <div data-v-6fae224a="" class="jindutiaotiao">
                                                        <div data-v-6fae224a="" class="jindutiao">
                                                            <div data-v-6fae224a="" class="jindutiao-center" style="width: 44px;"></div>
                                                        </div> <span data-v-6fae224a="">5000/5000</span></div>
                                                </div>
                                                <div data-v-6fae224a="" class="item-bottom-left">
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian nhận nhiệm vụ: 22 Dec 2021, 08:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian bắt đầu nhiệm vụ: 22 Dec 2021, 10:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian kết thúc nhiệm vụ : 23 Dec 2021, 10:00 pm</div>
                                                </div>
                                            </div>
                                            <div data-v-6fae224a="" class="content-item-right">
                                                <div data-v-6fae224a="" class="content-item-right-text"><span data-v-6fae224a="">₫ 60.000</span></div>
                                                <div data-v-6fae224a="" class="daojishi-text">
                                                    Nhận
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6fae224a="" class="Tasklist-for">
                                    <div data-v-6fae224a="" class="content-item">
                                        <div data-v-6fae224a="" class="item-top-img"><img data-v-6fae224a="" src="/images/xiaorentou.png"></div>
                                        <div data-v-6fae224a="" class="content-item-rit">
                                            <div data-v-6fae224a="" class="content-item-left">
                                                <div data-v-6fae224a="" class="item-top-left"><span data-v-6fae224a="">Giới thiệu cho 3 thành viên, và mỗi thành viên hoàn thành ít nhất một lần giao dịch, thì có thể nhận thưởng 90k VNĐ</span>
                                                    <div data-v-6fae224a="" class="jindutiaotiao">
                                                        <div data-v-6fae224a="" class="jindutiao">
                                                            <div data-v-6fae224a="" class="jindutiao-center" style="width: 44px;"></div>
                                                        </div> <span data-v-6fae224a="">3000/3000</span></div>
                                                </div>
                                                <div data-v-6fae224a="" class="item-bottom-left">
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian nhận nhiệm vụ: 21 Dec 2021, 10:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian bắt đầu nhiệm vụ: 21 Dec 2021, 10:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian kết thúc nhiệm vụ : 23 Dec 2021, 10:00 am</div>
                                                </div>
                                            </div>
                                            <div data-v-6fae224a="" class="content-item-right">
                                                <div data-v-6fae224a="" class="content-item-right-text"><span data-v-6fae224a="">₫ 90.000</span></div>
                                                <div data-v-6fae224a="" class="daojishi-text">
                                                    Nhận
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6fae224a="" class="Tasklist-for">
                                    <div data-v-6fae224a="" class="content-item">
                                        <div data-v-6fae224a="" class="item-top-img"><img data-v-6fae224a="" src="/images/xiaorentou.png"></div>
                                        <div data-v-6fae224a="" class="content-item-rit">
                                            <div data-v-6fae224a="" class="content-item-left">
                                                <div data-v-6fae224a="" class="item-top-left"><span data-v-6fae224a="">Giới thiệu cho 3 thành viên, và mỗi thành viên hoàn thành ít nhất một lần giao dịch, thì có thể nhận thưởng 90k VNĐ</span>
                                                    <div data-v-6fae224a="" class="jindutiaotiao">
                                                        <div data-v-6fae224a="" class="jindutiao">
                                                            <div data-v-6fae224a="" class="jindutiao-center" style="width: 44px;"></div>
                                                        </div> <span data-v-6fae224a="">3000/3000</span></div>
                                                </div>
                                                <div data-v-6fae224a="" class="item-bottom-left">
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian nhận nhiệm vụ: 22 Dec 2021, 10:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian bắt đầu nhiệm vụ: 22 Dec 2021, 10:00 am</div>
                                                    <div data-v-6fae224a="" class="item-time-content">thời gian kết thúc nhiệm vụ : 24 Dec 2021, 10:00 am</div>
                                                </div>
                                            </div>
                                            <div data-v-6fae224a="" class="content-item-right">
                                                <div data-v-6fae224a="" class="content-item-right-text"><span data-v-6fae224a="">₫ 90.000</span></div>
                                                <div data-v-6fae224a="" class="daojishi-text">
                                                    Nhận
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <style>
                .display-none {
                    display: none;
                }
            </style>
            <div class="van-overlay display-none" style="z-index: 2001;"></div>
            <div data-v-6fae224a="" class="van-popup van-popup--center display-none" style="width: 70%; height: 50%; padding: 16px; z-index: 2002;">
                <div data-v-6fae224a="">
                    <p><span style="font-family: '微软雅黑',sans-serif;color:#303133;background:white">Các bước để sử dụng chức năng nhiệm vụ:</span></p>
                    <p><span style="font-size:16px;font-family:'Times New Roman',serif;color:#121212">Đầu tiên nhận nhiệm vụ, sau đó chuyển tiếp giới thiệu cho thành viên cùng với phần thưởng tương đương;</span></p>
                    <p><span style="font-size:16px;font-family:'Times New Roman',serif;color:#121212">Một lần chỉ được nhận một nhiệm vụ trong bảng nhiệm vụ, sau khi nhận nhiệm vụ phải hoàn thành nhiệm vụ đó mới có thể nhận tiếp nhiệm vụ mới. </span></p>
                    <p><span style="font-size:16px;font-family:'Times New Roman',serif;color:#121212">Khi nhận nhiệm vụ hãy lựa chọn moitj nhiệm vụ thích hợp, nếu không, khi chưa hoàn thành nhiệm vụ đã nhận bạn sẽ không đủ điều kiện nhận nhiệm vụ mới</span></p>
                    <p><span style="font-size:16px;font-family:'Times New Roman',serif;color:#121212">Khi bạn chỉ hoàn thành một nhiệm vụ đề xuất và chọn task 2, nếu bạn từ bỏ nhiệm vụ đề xuất sẽ không được nhận thưởng. </span></p>
                    <p><span style="font-size:16px;font-family:'Times New Roman',serif;color:#121212">Sau khi hoang thành nhiệm vụ, bạn cần yêu cầu nhận thưởng và báo cáo với cấp đại lý, đợi phê chuẩn, sau khi phê chuẩn sẽ lập tức chuyển đến tài khoản của bạn. </span></p>
                    <p><span style="font-size:16px;font-family:'Times New Roman',serif;color:#121212">Sau khi hoàn thành nhiệm vụ, bạn có thể yêu cầu nhận thưởng bất cứ lúc nào.&nbsp;</span></p>
                    <p><br></p>
                </div>
            </div>
            <!---->
        </div>
        <!---->
    </div>
    <div data-v-6fae224a="" class="mark">
        <div data-v-6fae224a="" class="van-loading van-loading--circular">
            <span data-v-6fae224a="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(0, 0, 0);">
                <svg data-v-6fae224a="" viewBox="25 25 50 50" class="van-loading__circular">
                    <circle data-v-6fae224a="" cx="50" cy="50" r="20" fill="none"></circle>
                </svg>
            </span>
        </div>
    </div>

    <style>
        .van-toast {
            line-height: 0;
        }
        
        .display-none {
            display: none;
        }
    </style>
    <div id="error" class="van-toast van-toast--middle van-toast--fail display-none">
        <i class="van-icon van-icon-fail van-toast__icon" style="max-height: 40px; margin-bottom: 10px;"></i>
        <div class="van-toast__text"></div>
    </div>
    <div class="van-toast van-toast--middle van-toast--loading display-none">
        <div class="van-loading van-loading--circular van-toast__loading">
            <span class="van-loading__spinner van-loading__spinner--circular">
            <svg viewBox="25 25 50 50" class="van-loading__circular">
                <circle cx="50" cy="50" r="20" fill="none"></circle>
            </svg>
        </span>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.van-nav-bar__right').click(function() {
                $('.van-overlay, .van-popup').removeClass('display-none');
            });
            $('.van-overlay').click(function() {
                $('.van-overlay, .van-popup').addClass('display-none');
            });
        });
        $(window).on('load', function() {
            $('body').addClass('van-overflow-hidden');
            setTimeout(() => {
                $('body').removeClass('van-overflow-hidden');
            }, 700);
            $('.mark').delay(700).fadeOut('fast');
        })
        $('.daojishi-text, .header-btnone').click(function() {
            $('.van-toast--loading').removeClass('display-none');
            setTimeout(() => {
                $('.van-toast--loading').addClass('display-none');
                $('.van-toast__text').text('Không hỗ trợ!');
                $('.van-toast--fail').removeClass('display-none');
                setTimeout(() => {
                    $('.van-toast--fail').addClass('display-none');
                }, 500);
            }, 1000);
        });
    </script>

</body>

</html>