<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Risk Disclosure Agreement</title>
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__about.css">
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div>
            <div class="van-nav-bar van-nav-bar--fixed">
                <a onclick="history.back()">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">About us</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div class="bar-box"></div>
            <section class="security-main">
                <div data-v-58c67bb8="" class="layout-content">
                    <!---->
                    <div data-v-a570ca90="">
                        <div data-v-a570ca90="" class="van-nav-bar van-nav-bar--fixed">
                            <a href="index">
                                <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                            </a>
                            <div class="van-nav-bar__title van-ellipsis">About us</div>
                            <div class="van-nav-bar__right"></div>
                        </div>
                        <div data-v-a570ca90="" class="content">
                            <p data-v-a570ca90=""></p>
                            <h2 data-v-a570ca90="">Company Introduction</h2>
                            <p data-v-a570ca90=""></p> <span data-v-a570ca90="">
                            Matte Shop is an online mall business that engages in full payment and pre-payment booking/unsubscription business according to the rules and conditions that we have established to regulate the business. We have tie-up with some other reputed companies to provide best and satisfactory services to our clients/customers. Our company is one of the best among to follow laws and we have certain restrictions to prevent online fraud with our clients we do not allow. Minors under the age of 18 are not permitted to participate in The Matte-Shop Advance Booking/unsubscribing.
                            Note: Being responsible trader we advised our client to readout our Privacy Statement, Risk Disclosure Agreement and Risk Agreement carefully to minimize their risk.
                        </span><br data-v-a570ca90=""> <span data-v-a570ca90="">
                            Note: Being responsible trader we advised our client to readout our Privacy Statement, Risk Disclosure Agreement and Risk Agreement carefully to minimize their risk.
                        </span> <br data-v-a570ca90=""> <br data-v-a570ca90=""> <span data-v-a570ca90="">
                            This website is owned and operated by MS Sunil Emterprises
                        </span> <br data-v-a570ca90=""> <br data-v-a570ca90="">
                            <h2 data-v-a570ca90="">
                                Contact Us:
                            </h2> <span data-v-a570ca90="">
                            After-sales Service E-mail:
                        </span><br data-v-a570ca90=""> <span data-v-a570ca90="">
                            After-sales Service Hours: 10am-5pm from Monday to Friday.
                        </span><br data-v-a570ca90=""> <span data-v-a570ca90="">If you can’t get our reply, please wait patiently.</span></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>