<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="a shop from vietnam.">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Risk Disclosure Agreement</title>
    <!--CSS-->
    <link href="/css/vantjs.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__parity.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__member.css">
    <link rel="stylesheet" type="text/css" href="/css/pages__about.css">
</head>

<body class="">
    <div data-v-58c67bb8="" class="layout-content">
        <!---->
        <div>
            <div class="van-nav-bar van-nav-bar--fixed">
                <a onclick="history.back()">
                    <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                </a>
                <div class="van-nav-bar__title van-ellipsis">About us</div>
                <div class="van-nav-bar__right"></div>
            </div>
            <div class="bar-box"></div>
            <section class="security-main">
                <div data-v-58c67bb8="" class="layout-content">
                    <!---->
                    <div data-v-3c4fc972="">
                        <div data-v-3c4fc972="" class="van-nav-bar van-nav-bar--fixed">
                            <a href="index">
                                <div class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"><!----></i></div>
                            </a>
                            <div class="van-nav-bar__title van-ellipsis">App Statement</div>
                            <div class="van-nav-bar__right"></div>
                        </div>
                        <div data-v-3c4fc972="" class="content">
                            <h2 data-v-3c4fc972="">
                                App Statement
                            </h2> <span data-v-3c4fc972="">
                            Matte-Shop is an app that lets you to access online business of the Veymo Fashions Private Limited which is incorporated company under Indian Companies Act. This app accesses your information to provide you better services and to protect your personal information. We promise to comply with relevant laws and regulations, provide you with latest versions of. If you agree to the content above/privacy statement of Matte-Shop press ok button to continue…
                        </span></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>